__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.DS_Store
*.swp
*.swo
*.bak
*.log
*.tmp
*.nii
*.npz
*.nc
*.h5
*.hdf5
*.csv
*.mat
*.tar
*.gz
*.zip
*.7z
*.tar.gz
*.tgz
*.bz2
*.xz
*.dat
*.dbf
*.sh
build_sbdart_lookup_table/
CERES_EBAF_TOA_2020/
CERES_L2SSF_2020/
CERES_L3SSF_2020/
SSFproduct/
figs/
former/
mod06/
myd06/
processed_data/
uniform_fov_product/
